@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #451ad3;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    
}
h2{
    text-align: center;
    color: rgb(255,255,255) ;
    
}
.container{
    width: 800px;
    height: 400px;
    background-color: rgb(255,255,255);
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);

}
.box1{
    margin: 3%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0,0,0,0.6) ;
}
.box2{
    margin: 3%;
    width: 400px;
   
}
.list-head{
    display: flex;
    gap: 150px;
    list-style: none;
    
}
.inputs{
    width: 200px;
    margin-bottom: 30px;

}
input{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.6) ;
    outline: none;
}
.btn,button{
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 3px;
    background-color:  #451ad3;
    color: rgb(255,255,255);
    font-size: 17px;
}
.inputs,label{
    font-size:  20px;
    
}
p{
    font-size: 15px;
    margin-top: 10px;
    color: rgb(204,2,2);
    display: none;
    
}
.list-head{

    border-bottom: 1px solid rgba(0,0,0,0.6) ;
    padding: 2%;
    /* font-size: 20px; */
}
#name-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    background-color: rgba(99, 83, 159, 0.3);
    
}
.icon1{
    padding: 10px;
   
}


